@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    @apply text-base;
}

body {
    width: 100vw;
    height: 100vh;
    max-height: 100vh;
    color: #1e1e1e;
    @apply overflow-x-hidden overflow-y-auto;
}

*::-webkit-scrollbar {
    width: 8px;
    cursor: pointer;
}

*::-webkit-scrollbar-track {
    background: transparent;
    box-shadow: inset 0 0 25px #f3f3f3;
    border-left: 2px solid transparent;
    border-right: 2px solid transparent;
    border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
    background: #67676777;
    border-radius: 9999px;
}

/* Chrome, Safari, Edge, Opera */
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type='number'] {
    -moz-appearance: textfield;
}

.skeleton {
    @apply bg-gray-200 animate-pulse;
}

.react-date-picker__wrapper,
.react-time-picker__wrapper {
    border: none !important;
}

.react-time-picker__wrapper {
    flex-direction: row-reverse;
}

.react-time-picker__inputGroup {
    min-width: calc(0.54em * 4) !important;
}

.react-time-picker__inputGroup__divider {
    margin-inline: 2px !important;
}

.react-date-picker__inputGroup__input:focus,
.react-time-picker__inputGroup__input:focus {
    outline: none !important;
}

.react-time-picker__inputGroup__amPm {
    visibility: hidden !important;
    width: 0;
    height: 0;
}
